html, body {
    font-size: 10px;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
}

#stop-notification {
    display: none;
}

#stop-search-device {
    display: none;
}

.page {
    display: none;
    padding-top: 50px;
    padding-bottom: 120px;
}
#container {
    padding-bottom: 120px;
}

.page.current-page {
    display: block;
}

#back {
    display: none;
}

#rtc-status {
    position: absolute;
    display: block;
    top: 20px;
    right: 20px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #808080;
    background: #CCCCCC;
}
#rtc-status.connected {
    background: green;
}

.bottom-toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    box-shadow: 0 0 3px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    background: #FFF;
    z-index: 100;
}

section.skin-organic[role="region"] > header:first-child, .skin-organic section[role="region"] > header:first-child {
    position: fixed;
    width: 100%;
    box-shadow: 0 0 5px;
}

#controls-list li {
    position: relative;
}

#eating-status, #eating-status-label {
    pointer-events: none;
}

.slider {
    width: 100px;
    position: absolute;
    margin: auto;
    right: 10px;
    top: 0;
    bottom: 0;
    border: none;
    background: none;
    appearance: none;
}

.slider::-moz-range-thumb {
    border: 0;
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background: #FFFFFF;
    transform-origin: 50% 50%;
    transform: scale(1);
    transition: transform ease-out 100ms;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
}

.slider::-moz-range-track {
    height: 2rem;
    padding: .25rem;
    box-sizing: content-box;
    border-radius: 2rem;
    background: #f8f8f8;
}

.slider::-moz-focus-outer {
    border: 0;
}


.toggle, .toggle:active {
    position: absolute;
    top: -5000px;
    height: 0;
    width: 0;
    opacity: 0;
    border: none;
    outline: none;
}

.checkbox-label {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    padding: 10px;
    margin: auto;
    font-size: 12px;
    line-height: 16px;
    width: 48px;
    height: 18px;
    /*border-radius*/
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    background: #f8f8f8;
    cursor: pointer;
}

.checkbox-label:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    line-height: 34px;
    text-indent: 40px;
    height: 36px;
    width: 36px;
    /*border-radius*/
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    top: 0px;
    left: 0px;
    right: auto;
    background: white;
    /*box-shadow*/
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
}

.checkbox-label:after {
    content: attr(data-off);
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: -300px;
    padding: 10px;
    height: 100%;
    width: 300px;
    text-align: right;
    color: #bfbfbf;
    white-space: nowrap;
}

.toggle:checked + .checkbox-label {
    /*box-shadow*/
    -webkit-box-shadow: inset 0 0 0 20px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
    -moz-box-shadow: inset 0 0 0 20px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
    box-shadow: inset 0 0 0 20px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
}

.toggle:checked + .checkbox-label:before {
    left: calc(100% - 36px);
    /*box-shadow*/
    -webkit-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
}

.toggle:checked + .checkbox-label:after {
    content: attr(data-on);
    left: 60px;
    width: 36px;
}

#textareas {
    display: none;
}